.jumbotron {
    background-color: #007bff;
    color: white;
    margin-top: 50px;;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #007bff;
    margin-bottom: 0px;
    color:white;
    margin-top: 10px;
}
footer a {
    color:white;
}

.card-apps-ofrece {
    flex: 1 200px;
    margin-top: 10px;
}
.boton-ver-mas {
    width: 100%;
    border-radius: 0px;
}

.footer-address-padding {
    padding-right: 10px;;
}

.dimension-imagen-card{
    height: 200px;
    padding: 5px;
}

.tab-content {
    padding-top: 10px;;
}