.jumbotron {
  background-color: #007bff;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 32px;
}
npm install gulp-sass --save-dev
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #007bff;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer a {
  color: #FFFFFF;
}
.card-apps-ofrece {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.boton-ver-mas {
  width: 100%;
  border-radius: 0px;
}
.footer-address-padding {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.dimension-imagen-card {
  height: 200px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
