@primario: #007bff;
@secundario: #FFFFFF;
@amarillo: #F6F20C;
@rojo: #FB2E02;
@verde: #2EE917;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.colorTexto(@colorTexto: @secundario) {
    color: @colorTexto;
}

.colorFondo(@colorFondo: @primario) {
    background-color: @colorFondo;
}

.colorFondoyTexto(@colorFondo: @primario, @colorTexto: @secundario) {
    background-color: @colorFondo;
    color: @colorTexto;
}

.jumbotron {
    .colorFondoyTexto(@primario, @secundario);
    .margenes(50px, 32px) 
}

footer {
    .paddings(10px, 10px, 0px, 10px);
    .colorFondoyTexto(@primario, @secundario);
    .margenes(10px, 0px);
}
footer a {
    .colorTexto(@secundario);
}

.card-apps-ofrece {
    flex: 1 200px;
    .margenes(10px, 0px);
}
.boton-ver-mas {
    width: 100%;
    border-radius: 0px;
}

.footer-address-padding {
    .paddings(0px, 10px, 0px, 0px);
}

.dimension-imagen-card{
    height: 200px;
    .paddings(5px, 5px, 5px, 5px);
}

.tab-content {
    .paddings(10px, 0px, 0px, 0px);
}