$primario: #007bff;
$secundario: #FFFFFF;
$amarillo: #F6F20C;
$rojo: #FB2E02;
$verde: #2EE917;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin colorTexto($colorTexto) {
    color: $colorTexto;
}

@mixin colorFondo($colorFondo) {
    background-color: $colorFondo;
}

@mixin colorFondoyTexto($colorFondo, $colorTexto) {
    background-color: $colorFondo;
    color: $colorTexto;
}

.jumbotron {
    @include colorFondoyTexto($primario, $secundario);
    @include margenes(50px, 32px) 
}

footer {
    @include paddings(10px, 10px, 0px, 10px);
    @include colorFondoyTexto($primario, $secundario);
    @include margenes(10px, 0px);
}
footer a {
    @include colorTexto($secundario);
}

.card-apps-ofrece {
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.boton-ver-mas {
    width: 100%;
    border-radius: 0px;
}

.footer-address-padding {
    @include paddings(0px, 10px, 0px, 0px);
}

.dimension-imagen-card{
    height: 200px;
    @include paddings(5px, 5px, 5px, 5px);
}

.tab-content {
    @include paddings(10px, 0px, 0px, 0px);
}